* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  padding: 30px 40px 30px 40px;
  min-width: 380px;
}

img {
  margin-bottom: 20px;
}

.appTitle {
  font-size: 45px;
  border: 1px solid #000;
  width: fit-content;
  padding: 10px 40px 10px 40px;
  margin: 0 auto 30px;
  cursor: pointer;
}
