.pokeColumns {
  display: flex;
  gap: 10px;
}

.pokeColumn {
  width: 50%;
}

.cardColumn {
  width: 50%;
  padding-left: 20px;
}

.pokemons {
  display: flex;
  padding-left: 20%;
  flex-wrap: wrap;
  gap: 10px;
}